body{
	background-color:#eeeeee;
}

#wrapper{
	background-color:#ffffff;
	max-width:980px;
	margin: 0 auto;
	padding:15px;
	display:block;
}

a{
	display:inline-block;
	border-radius:6px;
	line-height:30px;
	text-align:center;
	background-color:#efefef;
	margin:4px;
	padding:0 32px;
}

.room{
	border: 1px solid lightgray;
	height: 950px;
	padding 32px;
	display:none;
	min-width:600px;
}

.room:target{
	display: block;
}

.board {
	width: 60%;
	height:18px;
	margin: 0 auto;
	background-color:#efefef;
	display:block;
	text-align:center;
	border: 2px solid black;
	font-size: 16px;
}

.desk-area {
	width: 95%;
	margin-right:auto;
	float: left;
}

.desk-right {
	float: right;
}

#desk-back{
	margin-top: 122px;
}

.door-area {
	width: 5%;
	margin-left:auto;
	float: right;
}

.door-left {
	float: left;
}

.pc {
	height: 18px;
	background-color: lightgray;
	text-align: center;
	border: 2px solid black;
	font-size: 16px;
}

#pc-1112 {
	width: 40%;
	margin: 0 auto;
	border-top: none;
}

#pc-1111 {
	margin-right:auto;
	margin-left :3%;
	margin-top  :30px;
	width: 30%;
}

.door {
	width: 18px;
	height: 20%;
	text-align: center;
	margin-left:auto;
	padding:10px 0;
	background-color: lightgray;
	font-size:16px;
	border: 2px solid black;
	writing-mode: vertical-rl;
	-webkit-writing-mode: vertical-rl;//Safari—p
	-ms-writing-mode: tb-rl;          //IE—p
}

.wall {
	margin-bottom: 450px;
}

.column {
	margin: 10px 0;
	width : 44%;
	display:flex;
	display:-webkit-flex;
	flex-direction: column;
	flex-wrap     : nowrap;
}

.desk-block {
	width : 33%;
	display:flex;
	display:-webkit-flex;
	flex-direction: row-reverse;
	flex-wrap     : nowrap;
	flex-grow     : 1 ;
	float:right;
}

.row {
	display:flex;
	display:-webkit-flex;
	flex-direction: row;
	flex-wrap     : nowrap;
	flex-grow     : 1 ;
	float : left
}

.left{
	margin-left: 5%;
	float: left;
}

.right {
	margin-right:5%;
	float: right;
}

.cell {
	height:60px;
	padding-top: 30px;
	margin-top:  30px;
	background-color: lightgray;
	text-align: center;
	font-size:  30px;
	display: block;
	border: 1px solid black;
}
